* {
  font-family: sans-serif;
}

body {
  background-color: rgb(254, 255, 247);
}

.App-header {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

hr {
  background: #000;
  height: 1px;
  border: none;
}
